@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}


#title, small{
	font-family: 'Playfair Display';
}

#section_break{
   border-top: dashed 4px grey;
}

#footer{
	text-align: center;
}