<div class='container'>
	<div id= "footer" class="card text-white bg-dark mb-3">
		<div class="card-body float-center">
			<h5 class="card-title"><i class="fas fa-copyright"></i> 2020 {{ config['ME'] }}</h5>
			<p>&lt;/&gt; Thanks to <a class="text-warning" href="https://flask.palletsprojects.com/en/1.1.x//">Flask</a>, <a class="text-warning" href="https://jinja.palletsprojects.com/en/2.11.x/">Jinja</a>, <a class="text-warning" href="https://getbootstrap.com/">Bootstrap</a> and <a class="text-warning" href="https://github.com/riyadhrazzaq/frontpage">Frontpage</a></p>
		</div>
	</div>
</div>