<div class="jumbotron jumbotron-fluid">
  <div class="container bg-white p-4">
    <h1 class="display-4">Md. Abdur Razzaq Riyadh</h1>
    <p class="lead">Machine Learning Engineer</p>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <a href="https://github.com/riyadhrazzaq" target='_blank' class="btn btn-warning" role="button"><i class="fab fa-github"></i> Github</a>
        <a href="https://riyadhrzzaq.github.io" target='_blank' class="btn btn-warning" role="button"><i class="far fa-keyboard"></i> Blog</a>
        <a href="https://riyadhrzzaq.github.io" target='_blank' class="btn btn-warning" role="button"><i class="fab fa-twitter"></i> Twitter</a>
      </div>
    </div>
  </div>
</div>

