<div class='container'>
  {% for section in contents %}
    <h1 class="my-4">
    <small># {{ section['heading'] }}</small>
    </h1>
    {% for item in section['data'] %}
      <div class="row">
        {% if item['image'] is defined %}
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="{{ item['image'] }}" alt="">
            </a>
          </div>
          <div class="col-md-5">
          {% else %}
            <div class="col-md-12">
            {% endif %}
            <h3 id='title'> {{ item['title'] }} </h3>
            {% if item['description'] is defined  %}
              <div class="overflow-auto"> {{ item['description'] }} </div>
            {% endif %}
            {% if item['reference'] is defined %}
              <samp>{{ item['reference'] }}</samp>
            {% endif %}

            {% if item['date'] is defined %}
              <p>Date:<i> {{ item['date'] }} </i></p>
            {% endif %}

            {% if item['tools'] is defined %}
            <div>
              {% for machine in item['tools'] %}
                <span class="badge badge-pill badge-dark"> {{ machine }} </span>
              {% endfor %}
            </div>
            {% endif %}
            {% if item['more'] is defined  %}
              <a class="btn btn-light float-right" href="{{ item['more'] }}">More</a>
            {% endif %}
          </div>
        </div>
        <!-- /.row -->
        {% if loop.last %}
        <br>
        <hr id='section_break'>
        {% else %}
        <hr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
