<div class='container'>
  <h1 class="my-4">
  <small>Works and other stuff</small>
  </h1>
  {% for item in dictionary %}
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{{ item['image'] }}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3> {{ item['title'] }} </h3>
        <div class="overflow-auto"> {{ item['description'] }} </div>
        <p>Date:<i> {{ item['date'] }} </i></p>
        {% if item['tools'] is defined %}
          {% for machine in item['tools'] %}
            <span class="badge badge-pill badge-dark"> {{ machine }} </span>
          {% endfor %}
        {% endif %}
        <a class="btn btn-dark float-right" href="{{ item['more'] }}">More</a>
      </div>
    </div>
    <!-- /.row -->
    <hr>
  {% endfor %}
</div>